extends layout/form-layout.pug
block content
  .grid.grid-flow-col.grid-rows-3
    .row-span-3.bg-gray-200.shadow-lg.h-full(class='w-11/12')
      .ml-5.border-2.mt-2.items-start.flex.flex-col.justify-start
        img(src="https://img.icons8.com/?size=256&id=68720&format=png", alt="", srcset="",class="text-left ")
        p.text-xl.font-normal.text-black  #{userDetails.username}   
        p.text-l.font-thin #{userDetails.email}   
      .my-5.flex.flex-col.mt-36
        button.flex.transform.items-center.rounded-lg.border-2.p-2.pl-5.text-left.text-xl.font-normal.duration-100(class='hover:border-gray-300 hover:bg-gray-300')
          svg.mr-2.h-6.w-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
            path(stroke-linecap='round', stroke-linejoin='round', d='m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25')
          |             home
        button.flex.transform.items-center.rounded-lg.border-2.p-2.pl-5.text-left.text-xl.font-normal.duration-100(class='hover:border-gray-300 hover:bg-gray-300')
          svg.mr-2.h-6.w-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
            path(stroke-linecap='round', stroke-linejoin='round', d='M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z')
          |             chats
        button.flex.transform.items-center.rounded-lg.border-2.p-2.pl-5.text-left.text-xl.font-normal.duration-100(class='hover:border-gray-300 hover:bg-gray-300 overflow-hidden')
          svg.mr-2.h-5.w-5(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 20 20', fill='currentColor')
            path(d='M10 3.75a2 2 0 1 0-4 0 2 2 0 0 0 4 0ZM17.25 4.5a.75.75 0 0 0 0-1.5h-5.5a.75.75 0 0 0 0 1.5h5.5ZM5 3.75a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1 0-1.5h1.5a.75.75 0 0 1 .75.75ZM4.25 17a.75.75 0 0 0 0-1.5h-1.5a.75.75 0 0 0 0 1.5h1.5ZM17.25 17a.75.75 0 0 0 0-1.5h-5.5a.75.75 0 0 0 0 1.5h5.5ZM9 10a.75.75 0 0 1-.75.75h-5.5a.75.75 0 0 1 0-1.5h5.5A.75.75 0 0 1 9 10ZM17.25 10.75a.75.75 0 0 0 0-1.5h-1.5a.75.75 0 0 0 0 1.5h1.5ZM14 10a2 2 0 1 0-4 0 2 2 0 0 0 4 0ZM10 16.25a2 2 0 1 0-4 0 2 2 0 0 0 4 0Z')
          |             settings
        a.mt-64.mb-8.flex.transform.items-center.rounded-lg.border-2.p-2.pl-5.text-left.text-xl.font-normal.duration-100(href="/logout",class='hover:scale-105 hover:border-gray-300 hover:bg-gray-300 ')
          svg.mr-2.h-5.w-5(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 20 20', fill='currentColor')
            path(fill-rule='evenodd', d='M17 4.25A2.25 2.25 0 0 0 14.75 2h-5.5A2.25 2.25 0 0 0 7 4.25v2a.75.75 0 0 0 1.5 0v-2a.75.75 0 0 1 .75-.75h5.5a.75.75 0 0 1 .75.75v11.5a.75.75 0 0 1-.75.75h-5.5a.75.75 0 0 1-.75-.75v-2a.75.75 0 0 0-1.5 0v2A2.25 2.25 0 0 0 9.25 18h5.5A2.25 2.25 0 0 0 17 15.75V4.25Z', clip-rule='evenodd')
            path(fill-rule='evenodd', d='M14 10a.75.75 0 0 0-.75-.75H3.704l1.048-.943a.75.75 0 1 0-1.004-1.114l-2.5 2.25a.75.75 0 0 0 0 1.114l2.5 2.25a.75.75 0 1 0 1.004-1.114l-1.048-.943h9.546A.75.75 0 0 0 14 10Z', clip-rule='evenodd')
          |             logout
    .col-span-3.row-span-3.mt-4
      .flex.items-center.m-2
       img.w-16.h-18(src='https://img.icons8.com/?size=256&id=68720&format=png', alt='', srcset='')
       textarea#postTextarea.border-2.px-2.rounded-lg.outline-none.border-gray-200(class='focus:border-green-400', placeholder='whatsapp', cols='50')
       button#btnPost(disabled='').bg-green-400.transform.px-2.rounded-lg.text-white.text-xl.ml-2.py-2.duration-100(class='hover:scale-105 hover:border-gray-300 hover:bg-green-500 disabled:opacity-30 disabled:transform-none disabled:bg-gray-600 ') Send
      .messages
  script(src='/js/home.js', defer='')
