extends layout/form-layout.pug
block content
  .form-container.flex.h-screen.items-center.justify-center
    .w-96.rounded-lg.bg-white.p-10.shadow-lg
      h1.mb-3.text-center.text-3xl.font-bold.uppercase.text-black create account
      form#frm(method='POST')
        .flex.justify-center
        p.errorMessage
        input#name.mb-3.w-full.rounded.border.border-gray-300.px-3.py-2(type='text', name='name', placeholder='Name', value='', required='')
        input#email.mb-3.w-full.rounded.border.border-gray-300.px-3.py-2(type='text', name='email', placeholder='Email', required='')
        input#username.mb-3.w-full.rounded.border.border-gray-300.px-3.py-2(type='text', name='username', placeholder='Username', required='')
        input#password.mb-3.w-full.rounded.border.border-gray-300.px-3.py-2(type='password', name='password', placeholder='Password', required='')
        input#conifrm.mb-3.w-full.rounded.border.border-gray-300.px-3.py-2(type='password', name='confirm', placeholder='Confirm Password', required='')
        button.w-full.transform.rounded.bg-purple-500.px-4.py-2.font-semibold.text-white.transition.duration-300(class='hover:scale-105 hover:bg-purple-700', type='submit') Register
      .flex.items-center.justify-center
        p.mr-1.mt-2 Already hava an account yet?
        a.mt-2.transform.font-bold.text-purple-400.underline.transition.duration-200(class='hover:scale-105 hover:text-purple-700', href='/login ') Sign Up
    #caution.fixed.left-0.top-0.flex.h-screen.w-full.items-center.justify-center(class='hidden bg-gradient-to-r from-gray-500 to-transparent')
      .shadow-mg.relative.max-w-3xl.rounded-3xl.bg-white.p-10
        button#closebutton.absolute.right-5.top-5.text-gray-600(onclick='closepopup()')
          svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 24 24', stroke-width='2.5', stroke='currentColor')
            path(stroke-linecap='round', stroke-linejoin='round', d='M6 18 18 6M6 6l12 12')
        .flex.flex-col.items-center.justify-center
          svg.h-10.w-10(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
            path(stroke-linecap='round', stroke-linejoin='round', d='M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z')
          p#errorMessage.mt-5.text-xl.font-semibold.uppercase.text-gray-600  #{errorMessage}
  script(src='/js/reg.js', defer='')
